<div id="<%= dom_id endpoint %>">
  <p>
    <strong>Verb:</strong>
    <%= endpoint.verb %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= endpoint.path %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= endpoint.response %>
  </p>

</div>
